---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accueil</title>
	</head>
	<body>
		

		<Layout titre="Accueil">
			<h1>Hello, Astro!</h1>
		</Layout>

	
	</body>
</html>
