---
import Layout from "../layouts/Layout.astro";
import OffreCard from "../components/OffreCard.astro";
import { getOffres } from "../js/backend.mjs";


const offres = await getOffres();
---

<Layout titre="Offres">
    <h1>Offres</h1>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 justify-items-center"
    >
        {offres.map((offre) => <OffreCard offre={offre} class="offre" />)}
    </div>
    <button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2"
        >Afficher les favoris</button
    >
</Layout>



<script>
    //@ts-nocheck
    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button?.addEventListener("click", () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll(".offre");

        offres.forEach((offre) => {
            const isFavori = offre.dataset.favori === "true";

            if (showOnlyFavorites) {
                offre.style.display = isFavori ? "block" : "none";
                button.textContent = "Afficher tout";
            } else {
                offre.style.display = "block";
                button.textContent = "Afficher les favoris";
            }
        });
    });
</script>
