---
import Layout from "../../layouts/Layout.astro";
import OffreCard from "../../components/OffreCard.astro";
import { getOffres } from "../../js/backend.mjs";

const offres = await getOffres();
---

<Layout titre="Offres">
    <h1>Offres</h1>
    <button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2"
        >Afficher les favoris</button
    >
    <a
        href="/offres/surface/80"
        class="bg-blue-600 rounded-lg text-white p-2 inline-block mb-4"
    >
        Maisons supérieures à 80 m²
    </a>
    <a
        href="/offres/prix/600000"
        class="bg-green-600 rounded-lg text-white p-2 inline-block mb-4 ml-4"
    >
        Maisons inférieur à 600 000 €
    </a>
    <a
        href="/offres/prix-range/700000-4000000"
        class="bg-yellow-600 rounded-lg text-white p-2 inline-block mb-4 ml-4"
    >
        Maisons entre 700 000 et 4 000 000 €
    </a>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 justify-items-center"
    >
        {offres.map((offre) => <OffreCard offre={offre} class="offre" />)}
    </div>
    
</Layout>

<script>
    //@ts-nocheck
    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button?.addEventListener("click", () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll(".offre");

        offres.forEach((offre) => {
            const isFavori = offre.dataset.favori === "true";

            if (showOnlyFavorites) {
                offre.style.display = isFavori ? "block" : "none";
                button.textContent = "Afficher tout";
            } else {
                offre.style.display = "block";
                button.textContent = "Afficher les favoris";
            }
        });
    });
</script>
